<div id="myModal">
<button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>
<div class="mah">
  <img [src]="imageUrl ? imageUrl : 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/User-Pict-Profil.svg/1365px-User-Pict-Profil.svg.png'" class="selected-image">
  
  <form [formGroup]="myForm" class="mahran" (ngSubmit)="onSubmit()">
    <h1>Add Article</h1>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter Article name</mat-label>
        <input matInput placeholder="Article Name" formControlName="title" required>
        <mat-error *ngIf="myForm.get('title').invalid && myForm.get('title').touched">You have to enter a name</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter moyenne</mat-label>
        <input matInput placeholder="0" formControlName="moyenne" required>
        <mat-error *ngIf="myForm.get('moyenne').invalid && myForm.get('moyenne').touched">You have to enter a moyenne</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter nbratings</mat-label>
        <input matInput placeholder="0" formControlName="nbratings" required>
        <mat-error *ngIf="myForm.get('nbratings').invalid && myForm.get('nbratings').touched">You have to enter a nbratings</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required minlength="5"></textarea>
      <mat-error *ngIf="myForm.get('description').invalid && !myForm.get('description').hasError('minlength')">You have to fill the description</mat-error>
      <mat-error *ngIf="myForm.get('description').hasError('minlength')">The minimum length is 5</mat-error>
    </mat-form-field>
    <!--
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter rating</mat-label>
        <input matInput placeholder="Rating" formControlName="rating" required>
        <mat-error *ngIf="myForm.get('rating').invalid && myForm.get('rating').touched">You have to enter a rating</mat-error>
      </mat-form-field>
    </div>
    <mat-icon

    
    -->

    
    <br>
    <mat-icon *ngFor="let icon of maxRatingArr; let index = index;"
      (mouseenter)="HandleMouseEnter(index)"
      (mouseleave)="HandleMouseLeave()"
      (click)="Rating(index)"
      [ngClass]="{checked: SelectedStar > index}">
      star
    </mat-icon>
    <!--
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter an image</mat-label>
        <input matInput placeholder="image" formControlName="image" required>
        <mat-error *ngIf="myForm.get('image').invalid && myForm.get('image').touched">You have to enter an image</mat-error>
      </mat-form-field>
    </div>
    -->
    
    <div class="input-box">
      <button type="button" mat-raised-button (click)="fileInput.click()" class="btn btn-secondary">Choose File</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
      <p *ngIf="fileName">{{fileName}}</p>
    </div>
    <br>
    
    
    
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter categorie_id</mat-label>
        <input matInput placeholder="categorie_id" formControlName="categorie_id" required>
        <mat-error *ngIf="myForm.get('title').invalid && myForm.get('title').touched">You have to enter a name</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter type_id</mat-label>
        <input matInput placeholder="type_id" formControlName="type_id" required>
        <mat-error *ngIf="myForm.get('title').invalid && myForm.get('title').touched">You have to enter a name</mat-error>
      </mat-form-field>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid" >Add Product</button>
  </form>
</div>
</div>