.mahran{
    text-align: center;
    margin: 10%;
  }
  
  .mah{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .selected-image{
    margin: 15%;
    width: 20%;
    height: 20%;
  }
  
  .checked{
    color: orange;
  }
  mat-icon{
    cursor: pointer;
  }
  button{
    margin: 5px;
  }