/*
.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
    min-height: 400px;

}
*/
.grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*
@media (max-width: 768px) {
    .details-grid {
        grid-template-columns: 1fr;
    }
}
*/


.mahran{
    text-align: center;
    margin: 10%;
  }
  
  .mah{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .selected-image{
    margin: 15%;
    width: 20%;
    height: 20%;
  }
  
  .checked{
    color: orange;
  }
  mat-icon{
    cursor: pointer;
  }
.product{
  text-align: center;
  
}
.cont{
  text-align: center;
}

.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
.meh {
  width: 40%;
  height: 40%;
  margin: 0 auto;
}
@media (min-width: 771px) {
  .meh {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 770px) {
  .meh {
    width: 90%;
    height: 90%;
  }
}
.img-fluid{
  object-fit: contain;
  mix-blend-mode: multiply;
  height: 550px;
}
.btn {
  position: relative;
  
  overflow: hidden;
  background-color: orange; /* Initial background color */
  color: black; /* Initial text color */
  border: 2px solid transparent; /* Initial border color (transparent) */
  transition: color 0.3s, border-color 0.3s; /* Transition for color and border */
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black; /* Border color on hover */
  transform: scaleX(0); /* Start with 0 scale */
  transform-origin: bottom right; /* Origin for the scale effect */
  transition: transform 0.3s; /* Transition for the border */
}

.btn:hover {
  color: black; /* Text color on hover */
  border-color: black; /* Border color on hover */
}

.btn:hover::before {
  transform: scaleX(1); /* Scale to full width on hover */
}